@model Movie

@using System.Security.Claims

<div class="container mt-5">
    <div class="row">
        <!-- Film Detayları -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="@Model.Title">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h1 class="h3">@Model.Title</h1>
            Directed by <a asp-action="Details" asp-controller="Director" asp-route-id="@Model.DirectorId"
                class="btn btn-link">@Model.Director.Name</a>
            <div class="mt-2">
                @foreach (var genre in Model.Genres)
                {
                    <a asp-action="List" asp-controller="Genre" asp-route-id="@genre.Id"
                        class="badge  text-decoration-none me-1">@genre.Name</a>
                }
            </div>
            <p class="mt-3">@Model.Description</p>
            <p class="">Release Date: @Model.ReleaseDate.ToShortDateString()</p>
            <div class="mt-2">
                @foreach (var actor in Model.Actors ?? Enumerable.Empty<Actor>())
                {
                    <a asp-action="Details" asp-controller="Actor" asp-route-id="@actor.Id"
                        class="badge  text-decoration-none me-1 ">@actor.Name</a>
                }
            </div>
        </div>
    </div>

    <!-- Yorumlar Bölümü -->
    <div class="bg-light mt-3 p-4 rounded">
        <div class="card border-0">
            <div class="card-header pb-0">
                <h4><span id="reviewCount">@Model.Reviews.Count()</span> adet yorum var.</h4>
            </div>
            <div class="card-body">
                <div id="review">
                    @foreach (var review in Model.Reviews)
                    {
                        <div class="my-4 d-flex">
                            <img src="~/img/@review.User.Image" alt="" class="avatar rounded-circle me-3"
                                style="width: 50px; height: 50px;">
                            <div>
                                <div class="mb-2 d-flex align-items-center">
                                    <h6 class="me-2"><a href="/profile/@review.User.Username">Reviewed by
                                            @review.User.Username</a></h6>
                                    <span class="">@review.CreatedDate.ToString("dd MMM yyyy")</span>
                                </div>
                                <p>@review.Content</p>
                                <div class="d-flex align-items-center mt-2">
                                    <div class="star-rating readonly">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= review.Rating)
                                            {
                                                <i class="bi bi-star-fill text-warning"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-star-fill text-muted"></i>
                                            }
                                        }
                                    </div>
                                    <div class="d-flex align-items-center ms-3">
                                        <button class="btn btn-link like-button" data-review-id="@review.Id">
                                            @if (review.Likes.Any(l => l.UserId ==
                                           Convert.ToInt64(User.FindFirstValue(ClaimTypes.NameIdentifier))))
                                            {
                                                <i class="bi bi-heart-fill text-danger"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-heart text-danger"></i>
                                            }
                                        </button>
                                        <span class="like-count" id="like-count-@review.Id">@review.Likes.Count</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (User.Identity!.IsAuthenticated)
                {
                    <hr class="my-4">
                    <div>
                        <h4 class="mb-3">Yorum Ekle</h4>
                        <form id="reviewForm" asp-action="AddReview" method="post">
                            <input type="hidden" name="MovieId" value="@Model.Id" />
                            <div class="mb-3">
                                <label for="Rating" class="form-label">Rating</label>
                                <div class="star-rating">
                                    <i class="bi bi-star-fill" data-value="1"></i>
                                    <i class="bi bi-star-fill" data-value="2"></i>
                                    <i class="bi bi-star-fill" data-value="3"></i>
                                    <i class="bi bi-star-fill" data-value="4"></i>
                                    <i class="bi bi-star-fill" data-value="5"></i>
                                </div>
                                <input type="hidden" id="Rating" name="Rating" />
                            </div>
                            <div class="mb-3">
                                <label for="Content" class="form-label">Yorum</label>
                                <textarea id="Content" name="Content" rows="3" class="form-control" required></textarea>
                                <div class="invalid-feedback">
                                    Please provide your review content.
                                </div>
                            </div>
                            <button type="submit" id="reviewSubmit" class="btn btn-primary">Kaydet</button>
                        </form>
                    </div>
                }
                else
                {
                    <p>Yorum yapabilmek için giriş yapmalısınız. <a href="/users/login">Giriş Yap</a></p>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.star-rating:not(.readonly) i').on('click', function () {
                    var rating = $(this).data('value');
                    $('#Rating').val(rating);
                    $(this).siblings().removeClass('text-warning').addClass('text-muted');
                    $(this).prevAll().addBack().removeClass('text-muted').addClass('text-warning');
                });

                $('#reviewForm').on('submit', function (event) {
                    event.preventDefault(); // Formun varsayılan gönderimini engelle
                    var formData = $(this).serialize();
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: formData,
                        success: function (review) {
                            var date = new Date(review.createdDate);
                            var reviewHtml = `
                            <div class="my-4 d-flex">
                                <img src="/img/${review.user.image}" alt="" class="avatar rounded-circle float-start me-3" style="width: 50px; height: 50px;">
                                <div>
                                <div class="mb-2 d-flex">
                                    <h6 class="me-2"><a href="/profile/${review.userName}">Reviewed by ${review.userName}</a></h6>
                                    <span>${date.toLocaleDateString()}</span>
                                </div>
                                <p>${review.content}</p>
                                <div class="d-flex align-items-center mt-2">
                                    <div class="star-rating readonly">
                                        ${[...Array(5).keys()].map(i => i < review.rating ? '<i class="bi bi-star-fill text-warning"></i>' : '<i class="bi bi-star-fill text-muted"></i>').join('')}
                                    </div>
                                    <div class="d-flex align-items-center ms-3">
                                        <button class="btn btn-link like-button" data-review-id="${review.reviewId}">
                                            <i class="bi bi-heart text-danger"></i>
                                        </button>
                                        <span class="like-count" id="like-count-${review.reviewId}">0</span>
                                    </div>
                                </div>
                                </div>
                            </div>`;
                            
                            $("#review").append(reviewHtml);
                            $("#Content").val('');
                            $("#Rating").val('');
                        },
                        error: function () {
                            alert('Yorum eklenirken bir hata oluştu.');
                        }
                    });
                });

                $('.like-button').on('click', function () {
                    var button = $(this);
                    var reviewId = button.data('review-id');
                    $.post('/review/Like', { reviewId: reviewId })
                        .done(function (data) {
                            if (button.find('i').hasClass('bi-heart')) {
                                button.find('i').removeClass('bi-heart').addClass('bi-heart-fill');
                            } else {
                                button.find('i').removeClass('bi-heart-fill').addClass('bi-heart');
                            }
                            $('#like-count-' + reviewId).text(data.likeCount);
                        })
                        .fail(function () {
                            alert('Something went wrong.');
                        });
                });
            });
        </script>
        <style>
            .star-rating i {
                font-size: 1.5rem;
                cursor: pointer;
            }

            .star-rating.readonly i {
                cursor: default;
            }

            .text-warning {
                color: #ffc107 !important;
            }

            .text-muted {
                color: #e4e5e9 !important;
            }

            .like-button i {
                font-size: 1.5rem;
                cursor: pointer;
                color: #dc3545;
            }

            .like-button .bi-heart {
                color: #e4e5e9;
            }

            .like-button .bi-heart-fill {
                color: #dc3545;
            }
        </style>
    }
</div>
