@model Director

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="@Model.Name">
            <p class="mt-3">@Model.Biography</p>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h1 class="h3">FILMS DIRECTED BY @Model.Name</h1>
            <hr>
            <div class="row">
                @foreach (var movie in Model.Movies ?? Enumerable.Empty<Movie>())
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                        <div class="card h-100">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Id">
                                <img src="~/img/@movie.Image" class="card-img-top img-thumbnail rounded" alt="@movie.Title">
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
